/*Usado para la animación de la imagen entrante*/
/*Desaparece con opacitY hasta no verse, y se va al fondo*/
@keyframes blurr {
    0% {
        opacity: 1;
        z-index: 1;
    }
    40%{
        opacity: 1;
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
/*La imagen aparece*/
@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*Ajustes generales*/
/*Ajustes del body,para que los objetos estén en el centro*/
body{
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 5%;
    background-color: black;
    color:white;
    user-select: none;
    overflow: hidden;
}
/*Parrafo principal*/
p{
    position: relative;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}
/*Boton con imagen de un ojo*/
#ojo{
    z-index: 1;
    position: absolute;
    bottom: 100px;
    left: 33%;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
}
/*botones de elección*/
button{
    position: relative;
    min-width: 70%;
    background-color: black;
    outline: none;
    color:white;
    box-shadow: inherit;
    margin-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px;

}
/*Imagenes de fondo*/
img{
    -webkit-user-drag: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
/*filtro con blur*/
.blur{
    filter: blur(4px);
}
/*imagen sin blur*/
.noblur{
    z-index: 0;
    opacity: 0;
    animation-name: blurr;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
/*Clase usada para la transición mediante javascript cuando se pulsa el boton "ojo"*/
.noblur2{
    z-index: 0;
    opacity: 0;
    animation-name: blurr;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
/*Ajustes especifícos*/
/*Introducción y muerte*/
/*Simbolo raro del principio*/
#simbolo{
    -webkit-user-drag: none;
    width: 175px;
    height: 175px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 0 0 0 -87.5px;
}
/*Texto que se muestra al principio y cuando mueres,animación trágica*/
.ritual{
    width: 33%;
    text-align: center;
    opacity: 0;
    font-size: 30px;
}
/*Texto de arriba*/
#ritual1{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 25%;
    animation-name: aparece;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
/*texto de abajo*/
#ritual2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(204, 22, 22);
    position: absolute;
    top: 50%;
    animation-name: aparece;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
/*Ventana modal, que aparece en ciertas opciones*/
.Modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -25%;
    top: 300px;
    width: 50%;
    height: fit-content;
    background-color: grey;
    border: solid black 1px;
}
/*Pequeño inventario arriba a la izquierda*/
#inventario{
    z-index: 2;
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: grey;
    width: 70px;
    padding: 10px;
    border: 2px solid black;
}
/*Item del inventario*/
.itemi{
    display: none;
    position: unset;
    max-height: 50px;
    max-width: 50px;
}
/*Items del inventario del cadaver*/
.item{
    position: unset;
    width: fit-content;
}
/*medallon en el inventario del cadaver*/
.medallon{
    max-height: 50px;
    max-width: 50px;
}
/*pistola en el inventario del cadaver*/
.pistola{
    max-height: 150px;
}
/*boton de dispara que no aparezca al principio en planta baja*/
#disparo{
    display: none;
}
/*para que no aparezcan las opciones de llamada desde el principio*/
.llamada{
    display: none;
}
/*No es un secreto*/
#BotonTotalmenteNormalInvisibleQueNoSirveParaNada{
    opacity: 0;
    position: absolute;
    top: 37%;
    right: 13%;
    width: 5%;
    height: 42%;
}
#FondoSinNingunContenidoEspecial{
    position: absolute;
    bottom: 10%;
    top: unset;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    width: 250px;
    height: 250px;
    z-index: 0;
    opacity: 0;
    animation-name: aparece;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}